
<div class="jc-products-mid-wrapper">
  




  

  <div class="collection-menu-wrapper-outter">
    <div class="collection-menu-wrapper">
  
  {%comment%}
      <a href="https://www.rrmeds.com/pages/holiday" class="collection-menu-link large">
        <h4 class="collection-link-text" >Holiday Deals</h4>
      </a>
      {%endcomment%}
      <a href="/collections/all-products" class="collection-menu-link large">
        <h4 class="collection-link-text" >All Products</h4>
        </a>
        <a href="/collections/cbd-pain-creams" class="collection-menu-link">
        <h4 class="collection-link-text" >Pain Creams</h4>
        </a>
        <a href="/collections/gummies" class="collection-menu-link">
        <h4 class="collection-link-text" >Gummies</h4>
        </a>
        <a href="/collections/tinctures" class="collection-menu-link">
          <h4 class="collection-link-text" >tinctures</h4>
        </a>
        <a href="/collections/softgels" class="collection-menu-link">
          <h4 class="collection-link-text" >softgels</h4>
        </a>
        <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies" class="collection-menu-link">
          <h4 class="collection-link-text" >Sleep Gummies</h4>
        </a>
        <a href="/collections/thc-free-products" class="collection-menu-link">
          <h4 class="collection-link-text" >THC-Free</h4>
        </a>
        <a href="/collections/pet-products" class="collection-menu-link">
          <h4 class="collection-link-text" >For Pets</h4>
        </a>
        <a href="https://www.rrmeds.com/a/gc/gift-card/" class="collection-menu-link">
          <h4 class="collection-link-text" >Gift Cards</h4>
          </a>
        <a href="#" class="collection-menu-link large summit-btn">
          <h4 class="collection-link-text" >Delta-9, HHC, & Delta-8</h4>
        </a>
  
      <div class="full-width-underline"></div>
    </div>
  </div>
    
  
      
      <div class="jc-container-large-double">
  
        {% if collection.id == 288234078406 %}
  
        

<div class="jc-products-section-row holiday">



  <div class="full-width-heading-container">
    <h4 class="jc-product-section-heading large less-bold">Gummies</h4>
  </div>

  
    <div class="jc-products-flex-col jc-products-flex-col-custom">
      <div class="jc-product-section-col-inner">
        <a href="https://www.rrmeds.com/products/30mg-hemp-extract-gummies-vegan" class="jc-product-section-overlay-link w-inline-block"></a>
        <div class="jc-product-section-img-wrapper collection" >
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Gummies_FS_30mg.jpg?v=1670445449">
        </div>
        <div class="jc-product-section-bottom-wrapper">
          <div class="product-title-and-img-wrapper">
              <h4 class="jc-product-section-heading no-margin">30mg CBD Gummies</h4>
              {%comment%}
              <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
              {%endcomment%}
          </div>
          <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
          </div>
          <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/30mg-hemp-extract-gummies-vegan" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
        </div>
      </div>
    </div>




    <div class="full-width-heading-container">
      <h4 class="jc-product-section-heading large less-bold">Tinctures</h4>
    </div>


    <div class="jc-products-flex-col jc-products-flex-col-custom">
      <div class="jc-product-section-col-inner">
        <a href="https://www.rrmeds.com/products/tinctures?variant=29122588868661" class="jc-product-section-overlay-link w-inline-block"></a>
        <div class="jc-product-section-img-wrapper collection" >
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_500mg.jpg?v=1670022476">
        </div>
  
        <div class="jc-product-section-bottom-wrapper">

          <div class="product-title-and-img-wrapper">
              <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture</h4>
              <div class="product-spacer"></div>
              <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
        
              {%comment%}
            {if {{product.metafields.product.flavor}} == 'unflavored' %}
              <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
            {endif %}
            {%endcomment%}

          </div>

          <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>

            {%comment%}
              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>

              <div class="meta-wrapper no-padding center">
                <div class="blue-square"></div>
                <h5 class="sk-product-section-meta-heading">For Pets</h5>
              </div>
          
              {%endcomment%}
          </div>

          <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588868661" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
        </div>
      </div>
    </div>

    <div class="jc-products-flex-col jc-products-flex-col-custom">
      <div class="jc-product-section-col-inner">
        <a href="https://www.rrmeds.com/products/tinctures?variant=29122588901429" class="jc-product-section-overlay-link w-inline-block"></a>
        <div class="jc-product-section-img-wrapper collection" >
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_500mg_3-Pack.jpg?v=1670022477">
        </div>
  
        <div class="jc-product-section-bottom-wrapper">

          <div class="product-title-and-img-wrapper">
              <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture <br>(3-Pack)</h4>
              <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
        
              {%comment%}
            {if {{product.metafields.product.flavor}} == 'unflavored' %}
              <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
            {endif %}
            {%endcomment%}

          </div>

          <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>

            {%comment%}
              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>

              <div class="meta-wrapper no-padding center">
                <div class="blue-square"></div>
                <h5 class="sk-product-section-meta-heading">For Pets</h5>
              </div>
          
              {%endcomment%}
          </div>

          <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588901429" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
        </div>
      </div>
    </div>
    
      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tinctures?variant=29122588934197" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_1000mg.jpg?v=1670022477">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture</h4>
                <div class="product-spacer"></div>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
          
                {%comment%}
              {if {{product.metafields.product.flavor}} == 'unflavored' %}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
              {endif %}
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>

              {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588934197" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tinctures?variant=29122588966965" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_1000mg_3-Pack.jpg?v=1670022477">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture <br>(3-Pack)</h4>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
          
                {%comment%}
              {if {{product.metafields.product.flavor}} == 'unflavored' %}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
              {endif %}
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>

              {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588966965" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283212998" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_BS_FM_1000mg.jpg?v=1670022479">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1000mg THC-Free Tincture</h4>
                <div class="product-spacer"></div>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
          
                {%comment%}
              {if {{product.metafields.product.flavor}} == 'unflavored' %}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
              {endif %}
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>
              {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>


                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283212998" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>
      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283245766" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_BS_FM_1000mg_3-Pack.jpg?v=1670022477">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1000mg THC-Free Tincture <br>(3-Pack)</h4>
              
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
          
                {%comment%}
              {if {{product.metafields.product.flavor}} == 'unflavored' %}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
              {endif %}
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>
              {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>


                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283212998" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>



      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310782558261" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_500mg.jpg?v=1670022476">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture</h4>
                <div class="product-spacer"></div>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {%comment%}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
              {%comment%}

                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310782558261" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310809264181" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_500mg_3-Pack.jpg?v=1670022476">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture <br>(3-Pack)</h4>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {%comment%}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
              {%comment%}

                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310809264181" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31651123724341" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_1000mg.jpg?v=1670022477">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture</h4>
                <div class="product-spacer"></div>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {%comment%}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
              {%comment%}

                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31651123724341" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31940376494133" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_1000mg_3-Pack.jpg?v=1670022477">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture <br>(3-Pack)</h4>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {%comment%}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
              {%comment%}

                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31940376494133" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

    

      <div class="full-width-heading-container">
        <h4 class="jc-product-section-heading large less-bold">Softgels</h4>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/softgels?variant=29122871918645" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Softgels_FS_60mg_CLP_f7f9c441-4104-499f-9e0f-7bffaa8c97b4.jpg?v=1684452433">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">30mg CBD Softgels</h4>


            </div>

            <div class="spectrum-wrapper holiday">

              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
              {%comment%}
              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/softgels?variant=29122871918645" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/thc-free-softgels" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Softgels_BS_30mg.jpg?v=1670022476">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">30mg THC-Free Softgels</h4>


            </div>

            <div class="spectrum-wrapper holiday">

              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>
              {%comment%}
              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>


                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/thc-free-softgels" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="full-width-heading-container">
        <h4 class="jc-product-section-heading large less-bold">Pet Products</h4>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/cbd-cat-chews-1-5mg-100-count" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Cat_Chews.jpg?v=1670022476">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">1.5mg Trout & Chicken Flavored <br>
                CBD Cat Chews</h4>


            </div>

            <div class="spectrum-wrapper holiday">

              <div class="meta-wrapper no-padding center">
                <div class="green-square"></div>
                <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
              </div>
              {%comment%}
              <div class="meta-wrapper no-padding center">
                <div class="orange-square"></div>
                <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
              </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/cbd-cat-chews-1-5mg-100-count" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>



</div>


  
        {%else%}
  
        

<div class="jc-products-section-row">
  {% for product in collections.frontpage.products limit:7 %}
    {% assign shortDescription = product.metafields.shortDescription %}
    {% assign key = 'description' %}
    {% if product.id == 4453931843637 or product.id == 3775015878709 %}
    
      {% assign jc_custom_url = '/collections/tinctures' %}
      {% assign jc_custom_title = 'CBD Tinctures' %} 

      {% elsif product.id == 4502500573237 %}

      {% assign jc_custom_url = '/collections/pet-products' %}
      {% assign jc_custom_title = 'CBD Pet Products' %} 

      {% comment %}
      thc free tincture - 6683040284870
      {% endcomment %}
      {% elsif product.id == 6683040284870 %}

      {% assign jc_custom_url = '/collections/thc-free-products' %}
      {% assign jc_custom_title = 'THC-Free CBD' %} 


      {% comment %}
        CBD Softgels - 3775056216117 
      {% endcomment %}
      {% elsif product.id == 3775056216117 %}

        {% assign jc_custom_url = '/collections/softgels' %}
        {% assign jc_custom_title = 'CBD Softgels' %} 

        {% comment %}
        Cream - 4447123537973
        {% endcomment %}

      {% elsif product.id == 4447123537973 %}

        {% assign jc_custom_url = '/collections/gummies' %}
        {% assign jc_custom_title = 'CBD Gummies' %} 

        {% comment %}
        Pain Cream - 4631247323189
        {% endcomment %}

      {% elsif product.id == 4631247323189 %}

        {% assign jc_custom_url = '/collections/cbd-pain-creams' %}
        {% assign jc_custom_title = 'CBD Pain Cream' %} 

      {% else %}

      {% assign jc_custom_url = product.url %}
      {% assign jc_custom_title = product.title %}

    {% endif %}


    {%- assign iteration_number = forloop.index -%}

    <div class="jc-products-section-col-double">
      <div class="jc-product-section-col-inner all-products">
        <a href="{{ jc_custom_url }}" class="jc-product-section-overlay-link w-inline-block">
        </a>
        {%comment%}
          <div class="jc-product-section-img-wrapper jc-product-section-img-wrapper-home-{{iteration_number}}"></div>
          {%endcomment%}

          <div class="jc-product-section-img-wrapper collection" >
            {% if product.id == 6683040284870 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Gummies_BS_60mg_CLP.jpg?v=1687542416">
              {%elsif product.id == 4447123537973 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Gummies_FS_60mg_CLP.jpg?v=1687542416">
              {%elsif product.id == 6841769033926 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Gummies_BS_60mg_CLP.jpg?v=1687542416">
              
              {%elsif product.id == 3775015878709 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2500_tincture_542d4671-b29f-4625-8619-ec60e8ec20d2.jpg?v=1682718853">
              {%elsif product.id == 3775056216117 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Softgels_FS_60mg_CLP.jpg?v=1684279327">
              {%elsif product.id == 7794862817478 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Gummies_Sleep.jpg?v=1686081325">
              {%elsif product.id == 4631247323189 %}
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumnails_Cream_FS_2000mg_Thumb_1.jpg?v=1681485857">
              
              {%else%}
              <img src="{{ product.featured_image | img_url: '1024x' }}">
            {% endif %}           
          </div>


          <div class="jc-product-section-bottom-wrapper margin-top">


          <div class="product-title-wrapper">
          <h4 class="jc-product-section-heading no-margin">{{ jc_custom_title }}</h4>

          {% comment %}
          <div class="jc-product-section-text">{{ shortDescription.description }}</div>
          {% endcomment %}
          <div class="jc-medium-btn-section"><a href="{{ jc_custom_url }}" class="jc-small-btn w-button">Shop Now</a></div>
          
          {%comment%}
          <div class="jc-product-section-btn-wrapper">
            <a href="{{ jc_custom_url }}" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
              <p class="jc-product-section-link-text">Shop Now</p>
              <div class="jc-btn-breaker-wrapper">
                <div class="jc-product-section-link-breaker"></div>
                <div class="jc-product-section-link-breaker-expand"></div>
              </div>
            </a>
          </div>
          {%endcomment%}
        </div>
        </div>
      </div>
    </div>


  {% endfor %}
  
  <div class="jc-products-section-col-double">
    <div class="jc-product-section-col-inner all-products">
      <a href="https://www.rrmeds.com/a/gc/gift-card/" class="jc-product-section-overlay-link w-inline-block " >
      </a>
        <div class="jc-product-section-img-wrapper jc-product-section-img-wrapper-home-gift-cards"></div>
        <div class="jc-product-section-bottom-wrapper">

          <div class="product-title-wrapper">
            <h4 class="jc-product-section-heading no-margin">Gift Cards</h4>
            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/a/gc/gift-card/" class="jc-small-btn w-button " data-ix="shop-btn" >Shop Now</a></div>

            {%comment%}
            <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn" target="_blank">
              <p class="jc-product-section-link-text summit">Shop at summitTHC.com</p>
            </a>
            {%endcomment%}

          </div>

        {%comment%}
          <a href="https://summitthc.com/products/15mg-20ct-delta-9-vegan-infused-gummies" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn" target="_blank">
            <p class="jc-product-section-link-text summit">Shop at summitTHC.com</p>
          </a>
        {%endcomment%}

      </div>
    </div>
  </div>



  <div class="jc-products-section-col-double">
    <div class="jc-product-section-col-inner all-products">
      <a href="#" class="jc-product-section-overlay-link w-inline-block delta-9-btn" target="_blank">
      </a>
        <div class="jc-product-section-img-wrapper jc-product-section-img-wrapper-home-delta-9"></div>
        <div class="jc-product-section-bottom-wrapper">

          <div class="product-title-wrapper">
            <h4 class="jc-product-section-heading no-margin">Delta-9 THC</h4>
            <div class="jc-medium-btn-section"><a href="#" class="jc-small-btn w-button delta-9-btn" data-ix="shop-btn" target="_blank">Shop Now at summit</a></div>

            {%comment%}
            <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn" target="_blank">
              <p class="jc-product-section-link-text summit">Shop at summitTHC.com</p>
            </a>
            {%endcomment%}

          </div>

        {%comment%}
          <a href="https://summitthc.com/products/15mg-20ct-delta-9-vegan-infused-gummies" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn" target="_blank">
            <p class="jc-product-section-link-text summit">Shop at summitTHC.com</p>
          </a>
        {%endcomment%}

      </div>
    </div>
  </div>



  <div class="jc-products-section-col-double">
    <div class="jc-product-section-col-inner all-products">
      <a href="#" class="jc-product-section-overlay-link w-inline-block delta-8-btn" target="_blank">
      </a>
        <div class="jc-product-section-img-wrapper jc-product-section-img-wrapper-home-hhc"></div>
        <div class="jc-product-section-bottom-wrapper">


        <div class="product-title-wrapper">
          <h4 class="jc-product-section-heading no-margin">HHC</h4>
          <div class="jc-medium-btn-section"><a href="#" class="jc-small-btn w-button delta-8-btn" data-ix="shop-btn" target="_blank">Shop Now at summit</a></div>

          {%comment%}
          <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn" target="_blank">
            <p class="jc-product-section-link-text summit">Shop at summitTHC.com</p>
          </a>
          {%endcomment%}

        </div>
      </div>
    </div>
  </div>



  <div class="jc-products-section-col-double">
    <div class="jc-product-section-col-inner all-products">
      <a href="#" class="jc-product-section-overlay-link w-inline-block delta-8-btn" target="_blank">
      </a>
        <div class="jc-product-section-img-wrapper jc-product-section-img-wrapper-home-delta-8"></div>
        <div class="jc-product-section-bottom-wrapper">


        <div class="product-title-wrapper">
          <h4 class="jc-product-section-heading no-margin">Delta-8 THC</h4>
          <div class="jc-medium-btn-section"><a href="#" class="jc-small-btn w-button delta-8-btn" data-ix="shop-btn" target="_blank">Shop Now at summit</a></div>

          {%comment%}
          <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn" target="_blank">
            <p class="jc-product-section-link-text summit">Shop at summitTHC.com</p>
          </a>
          {%endcomment%}

        </div>
      </div>
    </div>
  </div>

</div>


  
        {%endif %}
    
      </div>
      
      <div class="jc-disclaimer-wrapper-products grey">
        <div class="wrapper-outter">
          <div class="guarentee-wrapper">
              <div class="jc-risk-content-wrapper guarentee">
                  <div class="guarentee-text-wrapper">
                      <h1 class="jc-section-heading">60 Day</h1>
                      <div class="guarentee-breaker"></div>
                      <div class="guarentee-text-container">
                          <h3 class="guarentee-text-1">Money Back</h3>
                          <h3 class="guarentee-text-2">Guarantee</h3>
                      </div>
                  </div>
                 
                      <p class="paragraph-text">We stand behind the quality of our products, and we’re confident that you’ll have an excellent experience with them. Try our products consistently and at least once per day for a few weeks, and if your expectations aren’t met, you’re welcome to return them for a full refund within 60 Days of your purchase.</p>
                      <img class="signature-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/signature.svg?v=1661450280">
              
                  
              </div>
          </div>
      </div>
      </div>

      {% section 'yotpo-reviews' %}

    </div>
  

    <style type="text/css">
  
    #jc-nav-link-products {
  
      color:#7a0805;
  
    }
  
    @media (max-width: 1130px) { 
      #jc-nav-link-products {
  
        color:#ffffff;
  
      }
    }
  
    </style>

{% schema %}
{
  "name": "Collection Page",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Collection Page"
    }
  ]
}
{% endschema %}
