{{ 'jc-custom-recharge.css' | asset_url | stylesheet_tag }}
{{ 'collection-page.css' | asset_url | stylesheet_tag }}
{{ 'section-home-page.css' | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}


{%section 'jc-hero-section-auto-ship' %}


<div class="vertical-section smoke wf-section">
  <div class="vertical-section-inner autoship">

    <div class="jc-hero-icon-row-sub w-row">
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_save_15_icon.svg?v=1658532056" alt="Sales Tag" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin center">Save 20%</br> On Each Order</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_auto_ship_icon.svg?v=1658532056" alt="Box with Arrows" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin center">Automatic</br> Product Shipments</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_schedule_icon.svg?v=1658532056" alt="Calendar" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin center">Set Your</br> Delivery Schedule</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_skip_icon.svg?v=1658532056" alt="Skip, Pause, or Cancel" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin center">Swap, Skip, Or</br> Cancel Anytime</h4>
        </div>
      </div>
    </div>

  </div>
</div>





<div class="wrapper-outter mobile-only faq">
  <div class="guarentee-wrapper">
      <div class="jc-risk-content-wrapper full with-padding">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_2_AST_how_it_works.jpg?v=1660061951 500w" alt="Supercritical CO2 Extraction" class="jc-risk-free-img-big">
      </div>
      <div class="jc-risk-content-wrapper text">
        <div class="guarentee-text-wrapper">
            <h1 class="jc-section-heading">How It Works</h1>
        </div>
        <ol>
      
          <li class="paragraph-text">Select the “Subscribe & Save” button on any applicable product page. </li>
            <li class="paragraph-text">Choose your frequency in weeks or months. </li>
            <li class="paragraph-text">Your initial order will be shipped within 2 business days. </li>
            <li class="paragraph-text">Future Subscribe & Save orders will ship based on the frequency you selected.</li>
            <li class="paragraph-text">Get a reminder three days before every upcoming shipment.</li>
            <li class="paragraph-text">You’ll save 20% on every order, plus enjoy free shipping anywhere in the U.S.!</li>
          
        </ol>
      </div>
  </div>
</div>






<div class="image-and-text white wf-section autoship">
  <div class="wrapper-inner alt row">
    <div class="image-and-text-right">
      <div class="our-hemp-img-1"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_2_AST_how_it_works.jpg?v=1660061951" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_2_AST_how_it_works.jpg?v=1660061951 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 42vw" alt=""></div>
    </div>
    <div class="image-and-text-left padding-right">
      <h1 class="jc-main-heading medium">How It Works</h1>
      <ol>
      
        <li class="paragraph-text">Select the “Subscribe & Save” button on any applicable product page.</li>
          <li class="paragraph-text">Choose your frequency in weeks or months. </li>
          <li class="paragraph-text">Your initial order will be shipped within 2 business days. </li>
          <li class="paragraph-text">Future Subscribe & Save orders will ship based on the frequency you selected.</li>
          <li class="paragraph-text">Get a reminder three days before every upcoming shipment.</li>
          <li class="paragraph-text">You’ll save 20% on every order, plus enjoy free shipping anywhere in the U.S.!</li>
        
      </ol>
    </div>
  </div>
</div>

{% section 'sk-grey-banner-with-text' %}

<div id="faqs" class="anchor-link"></div>








{% section 'faq-tabs-subscription'%}












{%- comment -%}



<div  class="jc-faq-wrapper-outer two-col">

  <div class="jc-faq-wrapper two-col">
    <h3 class="jc-section-heading medium center">Getting Started</h3>
    <div class="jc-faq-content-wrapper two-col">



      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">Why should I choose the Subscribe & Save option?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">Our Subscribe & Save subscription is designed to allow you to receive your favorite R&R product(s) without going through the ordering process each time. You'll have the peace of mind knowing your hemp extract will show up at your door when you need it. Plus, you receive a 20% off discount on your initial order and all subsequent orders! You can enjoy our Subscribe & Save program without a long-term commitment. We give you the ability to swap out products, skip an order, or cancel at any time.</p>
          </div>
        </div>
      </div>
      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">How do I sign up for Subscribe & Save?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">To subscribe to a product, select the "Subscribe & Save" button on any applicable product page. Once you select the “Subscribe & Save” option, simply choose your frequency, and add to cart.</p>
          </div>
        </div>
      </div>
      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">Do I save any money with Subscribe & Save?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">Yes! You save 20% on your initial Subscribe & Save order and 20% on each subsequent order.</p>
          </div>
        </div>
      </div>
      
      <div class="jc-faq-content-block jc-faq-content-block-last">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">How long does my product take to ship? How can I track my package?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">Any Subscribe & Save order placed in the U.S. will ship free! If you’re in the U.S., please allow 1-2 days to process the order, then 3-5 days for the product to arrive. You may track your shipment through the shipping confirmation email received after your purchase; simply click the link with the tracking info provided. Shipping speeds will vary for international orders.</p>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- jc-faq-wrapper -->


  <div class="jc-faq-wrapper two-col">
    <h3 class="jc-section-heading medium center">Managing Your Subscription</h3>
    <div class="jc-faq-content-wrapper two-col">


      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I update or change my payment information?</div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Payment Methods</strong>.</li>
            <li class="jc-faq-page-expand-text">To add a new card, select <strong>Add Payment Method</strong> and then select <strong>Send Edit Payment Link</strong> to receive a secure link to add your new card via email.</li>
            <li class="jc-faq-page-expand-text">From your email, click on <strong>Confirm payment information</strong> to be redirected to our secure payment screen.</li>
            </ol>
           </div>
        </div>
      </div>


      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I redeem rewards points on my upcoming subscription?</div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Redeem Your Points</strong>. Then, select <strong>Ways to Redeem</strong>.</li>
            <li class="jc-faq-page-expand-text">Locate your desired coupon with “<strong>subscription purchase</strong>” in the name. Select <strong>View</strong>, then <strong>Redeem</strong>, then copy the coupon code.</li>
            <li class="jc-faq-page-expand-text">From the <strong>Manage Subscriptions</strong> page, select <strong>Add Discount</strong> located above shipping and taxes. </li>
            <li class="jc-faq-page-expand-text">Your discount amount will display beneath your product details. Note that it will apply to your next shipment only.</li>
            </ol>
           </div>
        </div>
      </div>

      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I add a one-time or additional subscription product to my recurring shipment? </div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
            <li class="jc-faq-page-expand-text">Choose your product from the <strong>You May Also Like</strong> section or select <strong>Browse All Products</strong>. </li>
            <li class="jc-faq-page-expand-text">Select <strong>Add</strong> and choose potency, quantity, and <strong>One-Time</strong> or <strong>Subscription</strong>.</li>
            <li class="jc-faq-page-expand-text"><strong>Your Next Order</strong> will display your new one-time or subscription product listed with your next shipment.</li>
            </ol>
           </div>
        </div>
      </div>

      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I remove a one-time product from my subscription?</div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
            <li class="jc-faq-page-expand-text">Locate the one-time product in your next order details with the <strong>One-Time</strong> tag. Select Manage this Product. </li>
            <li class="jc-faq-page-expand-text">Customize your shipment by rescheduling your one-time product or selecting <strong>Remove Product</strong>.</li>
            <li class="jc-faq-page-expand-text">Your one-time product will show as removed in <strong>Your Next Order</strong> details.</li>
            </ol>
           </div>
        </div>
      </div>

      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I manage the frequency of my order or change my order date?</div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Reschedule</strong> and select your preference.</li>
            <li class="jc-faq-page-expand-text">If you’d like to update the frequency, select <strong>Manage this Subscription</strong>. Choose the frequency you’d like to update your subscription to and select <strong>Save Changes</strong>.</li>
            <li class="jc-faq-page-expand-text">You can also speed up your next delivery by selecting the <strong>Send Now</strong> option located beneath your next order date. </li>
            </ol>
           </div>
        </div>
      </div>

      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I skip a shipment for my subscription?</div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
            <li class="jc-faq-page-expand-text">Locate Your Next Order details and select <strong>Skip</strong>. </li>
            <li class="jc-faq-page-expand-text"><strong>Your Next Order</strong> details will show your order as skipped with your new ship date reflected.</li>
            </ol>
           </div>
        </div>
      </div>

      <div class="jc-faq-page-content-block">
        <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
          <div class="jc-faq-page-content-heading">How do I cancel my subscription?</div>
                              <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
        </div>
        <div class="jc-faq-page-expand-wrapper">
          <div class="jc-faq-page-expand-block">
            <ol>
            <li class="jc-faq-page-expand-text">Don’t go! If you must, however, we understand that needs change. To cancel your subscription, <a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
            <li class="jc-faq-page-expand-text">Select <strong>Cancel Subscription</strong> at the bottom of the page.</li>
            <li class="jc-faq-page-expand-text">Your canceled subscription will populate under <strong>Inactive Subscriptions</strong> where you can reactivate it at any time.</li>
            </ol>
           </div>
        </div>
      </div>


    </div>
  </div> <!-- jc-faq-wrapper -->



</div> <!-- jc-faq-wrapper-outer -->

{%- endcomment -%}



  {% comment %}
<div class="jc-product-row-wrapper-sub">
  <div class="jc-product-row-container-sub">
  <div class="jc-section-heading-wrapper">
    <h2 class="jc-main-heading medium center">Relaxation, relief, recovery,</br> and
      rejuvenation await.</h2>
  </div>




    
    {% section 'sk-product-row-auto' %}




  </div>
</div>
  {% endcomment %}

<section style="padding-bottom: 60px; padding-top: 0px;" class="slider-section home">

<div class="mobile-slider-image-wrapper">

  <div class="slider-image-inner">
    <h1 class="section-heading white">Change Your Life With Our</h1>
    <h1 class="section-heading dark-green">Best Sellers</h1>
  </div>

  <style>
    @media screen and (max-width: 991px) {
    .slider-image-inner{
        max-width: none;
    }
    }
    @media screen and (max-width: 767px) {
      .slider-image-inner{
        max-width: 310px;
    }
    }
  </style>
</div>



  <div id="home-slider" class="spd-wrapper">

  <div class="heading-wrapper-center flex mobile-hidden">

    <button class="scroll-btn slider-btn left-collection-arrow home"><img
      src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group_420.svg?v=1709226622"
      alt="" class="right-icon-arrow"></button>

    <h1 class="section-heading">Change Your Life With Our Best Sellers</h1>

    <button class="scroll-btn slider-btn right-collection-arrow home"><img
    src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group_420.svg?v=1709226622"
    alt="" class="right-icon-arrow"></button>
  </div>


  {% render 'product-slider-home', collection_handle: 'homepage-best-sellers' %}


    
  </div>
</section>

{% include 'collection-product-flyout-current'%}

<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>